@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.playButton {
  color: #ecf0f1;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  cursor: pointer;
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
}

.playButton:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}

.playButton:hover {
  background-color: #f39c12;
}